.container {
  max-width: 500px;
  margin: 0 auto;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: thin solid #ddd;
  text-align: center;
  font-size: 1.5em;
}

.tiles {
  display: grid;
  margin: auto;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 5px;
}

.game-done h3 {
  margin: 10px 0;
  color: green;
}

.play-again-button {
  margin-bottom: 20px;
}
